/* Hero Section */
#hero {
    text-align: center;
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    color: white;
    padding: 50px 20px;
}
  
#hero .profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}
  
#hero h1 span {
    color: #ffd700;
}

.btn {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 5px;
    border-radius: 25px;
}

.btn.primary {
    background: #ffd700;
    color: #333;
}

.btn.secondary {
    border: 2px solid white;
    color: white;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

main {
    padding: 20px;
}

/* Sections */
section {
    margin-bottom: 40px;
}

/* Filter Buttons */
.filter-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px auto;
    justify-content: center;
}

.filter-button {
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f3f4f6;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease;
}

.filter-button.active {
    background-color: #007bff;
    color: #fff;
}

/* Header */
#header {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 1000;
}
#profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#profile-name {
    font-size: 18px;
    font-weight: bold;
}

/* Skills Section */
#skills {
    text-align: center;
    padding: 3px;
}

.skill {
    text-align: center;
    /* border: 1px solid #ccc;
    border-radius: 10px; */
    width: 100px;
    /* flex: 0 0 auto; 
    padding: 10px; */
}

.highlighted-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.filtered-skills {
    padding: 0;
    margin: 20px 0;
}

.skill img {
    width: 80%;
    border-radius: 10px;
}

.filtered-skills .show-more {
    color: #007bff;
    cursor: pointer;
    font-style: italic;
}

.filtered-skills .show-more:hover {
    text-decoration: underline;
}

.filtered-skills li {
    font-size: 14px;
    color: #333;
    text-align: left;
}

/* More button in list */
.more-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Carousels */
.carousel {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    /* padding: 10px; */
    scrollbar-width: none; /* Firefox */
}
.carousel::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}
.carousel-item {
    flex: 0 0 auto;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
}
.carousel-item img {
    width: 100%;
    border-radius: 10px;
}
.carousel-item p {
    margin-top: 10px;
    font-size: 14px;
}

/* Modal */
#project-modal {
    display: none; /* Initially hidden */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 800px;
    max-height: 80%;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto; /* overflow: auto; Enable scrolling if content overflows */
    flex-direction: column; /* Stack items vertically */
    z-index: 1000;
}

#project-modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
#project-modal img {
    width: 50%; /* Set a fixed width for the thumbnails */
    height: 100px; /* Set a fixed height for the thumbnails */
    object-fit: contain; /* Ensure images fit within the bounds without distortion */
    margin-right: 10px; /* Add spacing between the image and text */
    vertical-align: middle; /* Align the images with the text */
    border-radius: 8px; /* Optional: Add rounded corners to the thumbnails */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}

#project-carousel {
    display: flex;
    overflow-x: auto;
    gap: 4px;
    scrollbar-width: none; /* Firefox */
}

#project-carousel img {
    width: 60%;
    height: 60%;
    max-width: 300px;
    margin: 10px auto;
}

#project-modal-close {
    position: fixed;
    left: 95%;
    top: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    z-index: 1001; /* Ensure it's above other elements */
}

#project-description {
    margin: 20px 0;
    text-align: left;
    font-size: 1rem;
}

.download-links {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.download-btn {
    padding: 10px 20px;
    background-color: #212223;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.download-btn:hover {
    background-color: #0056b3;
}

.modal-banner {
    border: none;
    box-shadow: none;
}

#project-banner {
    max-width: 100%;
    /*  object-fit: cover; Ensures the image fits without distortion */
    border-radius: 0; /* No border radius for header */
    height: auto;
}

/* Contact Section */
#contact {
    padding: 50px 20px;
    text-align: center;
}

.social-links li {
    display: inline-block;
    margin: 0 10px;
}

.social-links a {
    text-decoration: none;
    color: #2575fc;
    font-weight: bold;
}


/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: white;
}